.TopBar {
  width: 100%;
  height: 60px;
  background-image: linear-gradient(to right, orange,red);
  display: flex;
  align-items: center;

  h1 {
    font-size: 22px;
    font-weight: bold;
    margin-left: 25px;
    color: white;
  }

}